*{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	margin:0;
	padding:0;
	text-decoration:none;
}
body{
	color:#ccc;
	background-image:url("bg.png");
	background-repeat:repeat;
	background-attachment:fixed;
}
#overlay{
	position:fixed;
	float:unset;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#000;
	z-index:20;
}
#overlay-image{
	display:block;
	max-width:95%;
	max-height:95%;
	margin:0 auto;
	border: 1px solid #fff;
	cursor:pointer;
	background-color:#000;
	background-image:url("busy.gif");
	background-repeat:no-repeat;
	background-position:center;
}
#img-index{
	wiodth:100%;
	text-align:center;
	cursor:pointer;
	font-size:1.5em;
}
#prev-img-btn,#next-img-btn{
	position:absolute;
	top:0;
	padding:3em 0.5em;
	text-align:center;
	height:100%;
	min-width:5%;
	cursor:pointer;
	font-size:3em;
	background-color:#fff2;
}
#prev-img-btn:hover,#next-img-btn:hover{
	background-color:#fff8;
}
#prev-img-btn{
	left:0;
}
#next-img-btn{
	right:0;
}
#overlay-title{
	text-align:center;
}
h1,h2,h3,li,ul{
	float:left;
	clear:both;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-variant:petite-caps;
}
h1{
	font-size:1.4em;
	margin:0 0 0.6em 0.5em;
}
h2{
	font-size:1.3em;
	margin:0 0 0.4em 0.5em;
}
h3{
	font-size:1.1em;
	margin:0 0 0.2em 0.5em;
}
div{
	float:left;
	clear:both;
}
label{
	margin-top:-1.5em;
}
main,#top-filler{
	position:relative;
	width:100%;
	background-color:#000a;
	z-index:3;
}
#top-filler{
	height:33px;
	background:none;
	background-color:#444a;
}
#bottom-filler{
	position:relative;
	width:100%;
	height:80px;
	z-index:1;
	border-top:1px solid #ccc;
}
#bottom-menu{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	height:80px;
	background:none;
	z-index:2;
}
div.bottom-wrapper{
	float:none;
	width:fit-content;
	margin:5px auto;
}
input[type=submit].bottom-menu{
	float:none;
	font-size:1.25em;
	margin:0 25px;
	color:#ccc;
	border:none;
	background:none;
	transition: 0.2s;
}
input[type=submit].bottom-menu:hover{
	color:#c00;
	background:none;
}
button,input,textarea,select,a.btn{
	float:left;
	padding:0.4em;
	margin: 0 0.2em;
	color:#aaa;
	background-color:#000;
	border-radius:unset;
	border-left:1px solid #888;
	border-top:1px solid #888;
	border-right:1px solid #555;
	border-bottom:1px solid #555;
}
input[type=text],select{
	max-width:60%;
}
button,a.btn{
	color:#000;
	background-color:#aaa;
	font-size:1.2em;
}
input[type=submit]{
	color:#000;
	background-color:#aaa;
	font-size:1em;
}
button:hover,input[type=submit]:hover,a.btn:hover{
	cursor:pointer;
	background-color:#eee;
}
select{
	cursor:pointer;
}
div.preview,main,div,select,video,img,p,ul,ol,li{
	float:left;
}
div.preview,video,img{
	clear:left;
}
div.cover-wrapper{
	clear:none;
	position:relative;
	overflow:hidden;
	width:auto;
}
p.cover{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	color:#fff;
	background-color:#f009;
	text-align:center;
	cursor:pointer;
}
div.first-menu,div.second-menu{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:33px;
	z-index:10;
	border-bottom:1px dotted #aaa;
	background-color:#000a;
	overflow:hidden;
}
div.second-menu{
	top:34px;
}
ul.menu{
	list-style-type: none;
	border-bottom:1px dotted #aaa;
	background-color:#400;
}
li.menu{
	clear:none;
	width:6em;
	background:none;
	border-right:1px solid #aaa;
	overflow:hidden;
}
li.menu:hover{
	border-bottom:4px solid #aaa;	
}
a.menu,a.first-menu,p.first-menu{
	display:block;
	color:#aaa;
	text-align:center;
}
a.first-menu,p.first-menu{
	float:left;
	clear:none;
	font-size:20px;
	font-weight:bold;
	line-height:33px;
	width:50px;
	background-color:#000;
	border-right:1px solid #444;
}

select.menu{
	font-size:16px;
	padding:7px;
}
a.menu:hover,a.first-menu{
	color:#eee;
}
div.menu-item-emoji,div.menu-item-label{
	float:inherit;
	text-align:center;
	width:100%;
}
div.menu-item-emoji{
	font-size:24px;
	height:30px;
}
select.lng-selector{
	float:right;
	clear:none;
}
p.standard{
	padding:2px;
	color:#ccc;
	background-color:#222;
}
table{
	float:left;
	clear:none;
	width:fit-content;
	margin:0 2em 2em 0;
}
caption{
	color:#fff;
	margin:1.5em 0 1em 0;
	font-size:1.3em;
	font-variant:petite-caps;
}
tr:hover{
	color:#fff;
	background-color:#333;
}
th{
	color:#db934a;
	border-bottom:1px solid #888;
}
td,th{
	position:relative;
	padding:3px;
	min-width:80px;
	border-right:1px dotted #ccc;
}
div.log{
	overflow-y:auto;
	height:100%;
	padding:0 5px;
	width:98%;
}
p.log{
	clear:both;
	line-height:25px;
	border-bottom:1px dotted #aaa;
}
article{
	float: left;
	clear:none;
	margin:20px 0;
	position:relative;
	width:fit-content;
	width:100%;
	overflow:auto;
	background-color:#444c;
	border-top:1px solid #888;
	border-bottom:1px solid #555;
}
div.container-busy{
	display:none;
	position:absolute;
	left:0;
	bottom:0;
	right:0;
	top:0;
	background-image:url('busy.gif');
	background-color:#fff;
	opacity:0.4;
	background-repeat:no-repeat;
	background-position:center;
	z-index:60;
}
div.app{
	position:relative;
	float:left;
	clear:none;
	width:28px;
	height:26px;
	margin:10px;
	overflow:hidden;
}
.toolbox{
	color:#000;
	background-color:#ddd;
}
div.toolbox{
	position:fixed;
	bottom:0;
	left:0;
	height:28px;
	width:100%;
	overflow:hidden;
	z-index:20;
}
a.app,a.toolbox{
	position:absolute;
	top:0;
	left:0;
	font-size:20px;
	line-height:25px;
	height:25px;
	width:100%;
	text-align:center;
	background:none;
	border-bottom:1px solid #ccc;
}
a.app:hover,a.toolbox:hover{
	cursor:pointer;
	color:#000;
	background:#fffa;
}
div.explorer{
	clear:none;
	padding-top:1.6em;
	margin:0 0 0 0.5em;
}
label.explorer{
	float:left;
	clear:none;	
}
div.icon{
	display: block;
	overflow:hidden;
	margin:3px;
	background-size:cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;  
}
#canvas{
	position:relative;
	width:100%;
	min-width:1500px;
	height:500px;
	font-size:16px;
	background-color:#000;
	border:1px solid #888;
	overflow:auto;
	background-image:url("canvasbg.png");
}
.canvas-element{
	position:absolute;
}
.canvas-element{
	margin:0;
	padding:5px;
	font-size:20px;
	color:#aaa;
	background:none;
}
.canvas-element{
	border:2px solid #000;
}
.canvas-element-btn{
	position:absolute;
	padding:0;
	right:-10px;
	font-size:16px;
	color:#f00;
	background:none;
	z-index:15;
}
button.canvas{
	float:left;
	clear:none;
	font-weight:bold;
	width:1.8em;
	line-height:1em;
	margin: 0.15em 0.15em 0em 0em;
}
div.canvas{
	clear:none;
}
p.canvas-info{
	position:absolute;
	bottom:-15px;
	left:0px;
	color:#fff;
	font-size:10px;
	background-color:#000;
	padding:1px;
}
div.calendar-sheet-wrapper{
	float:left;
	clear:both;
	width:100%;
	margin:5px 0;
	overflow:auto;
}
div.calendar-sheet{
	position:relative;
	overflow:hidden;
	min-height:200px;
	background-image:url("canvasbg.png");
}
div.calendar-day,button.calendar-day{
	position:absolute;
	top:0;
	height:100%;
	margin:0;
	padding:0;
	color:#444;
	text-align:center;
	overflow:hidden;
	border-right:1px solid #888;
}
button.calendar-day{
	height:65px;
	border:none;
	font-size:0.96em;
	font-weight:bold;
}
p.calendar-hour,div.calendar-hour{
	position:absolute;
	color:#444;
	top:50px;
	width:0;
}
div.calendar-hour{
	top:65px;
	height:5px;
	border-left:1px solid #aaa;
}
div.calendar-timeline{
	position:absolute;
	top:0;
	height:100%;
	border-left:2px dashed #f00;	
}
button.calendar-event{
	position:absolute;
	padding:0;
	height:25px;
	overflow:hidden;
	text-align:center;
	color:#fff;
	background-color:#160;
}
p.comment,p.comment-footer{
	float:left;
	clear:both;
}
p.comment{
	font-size:1.2em;
	color:#ffdbac;
}
div.comment{
	padding:3px 5px;
}
p.comment-footer{
	font-size:0.8em;
	font-weight:bold;
}
div.forum{
	width:100%;
}
div.user-abstract{
	margin:5px;
}
p.user-abstract{
	font-size:1.5em;
	margin:5px;
}
div.phrase-preview{
	clear:both;
	width:100%;
	height:100px;
	background-color:#fff;
}
span.symbol-preview{
	float:left;
	clear:none;
}
a.emoji{
	float:left;
	clear:none;
	font-size:2em;
	color:#fff;
}