.ep-std{
	float:left;
	clear:both;
	margin:5px 10px;

}
img.ep-std{
	max-width:360px;
}
iframe.ep-std{
	width:98%;
	height:300px;
}
.ep-std-no-clear{
	float:left;
	clear:both;
	margin:5px 10px;	
}
.ep-h1{
	clear:both;
	margin:10px 0 0 5px;
	font-size:1.6em;
}
.ep-message{
	clear:right;
	margin:10px 0 0 5px;
	font-size:1.5em;
}
.ep-footer{
	clear:both;
	font-size:0.8em;
	font-weight:bold;
	margin:0 0 0 10px;
}
.ep-header-wrapper{
	margin:0;
	width:100%;
	background-color:#eee;
	border-top:1px solid #444;
}
