.ep-h1{
    font-size:1.45rem;
    margin:1.4em 0 0 5px;
}
.ep-h2{
    font-size:1.3rem;
    margin:1.2em 0 0 5px;
}
.ep-h3{
    font-size:1.15rem;
    margin:1em 0 0 5px;
}
.ep-h1,.ep-h2,.ep-h3,.ep-std{
    float:left;
    clear:both;
    margin:5px 10px;
}
.ep-std-footer,.ep-comment-footer{
    font-size:0.8rem;
    margin:0.5rem;
}
table.ep-std,table.ep-h1,table.ep-h2,table.ep-footer{
    float:left;
    clear:right;
    max-width:100%;
    border:none;
    box-shadow:none;
}
table.ep-footer{
    clear:both;
}
img.ep-std,video.ep-std{
    max-width:360px;
    margin:0.5rem;
}
iframe.ep-std{
    width:98%;
    height:300px;
    margin:0 0 0 5px;
}
.ep-std-no-clear{
    float:left;
    clear:both;
    margin:5px 10px;    
}
.ep-message{
    clear:right;
    margin:5px 10px;
    font-size:1.5rem;
}
.ep-header-wrapper{
    margin:0;
    width:100%;
    background-color:#aaaa;
    border-top:1px solid #aaae;
}
details.ep-comment{
    clear:left;
}
div.ep-comment,p.ep-comment{
    padding:3px 5px;
    font-size:1.2rem;
    color:#a80;
}
.ep-comment-footer{
    font-weight:bold;
}