div.ep-std,p.ep-std,table.ep-std,
div.ep-h1,p.ep-h1,table.ep-h1,
div.ep-h2,p.ep-h2,table.ep-h2,
div.ep-h3,p.ep-h3,table.ep-h3,
div.ep-footer,p.ep-footer,table.ep-footer,
div.ep-comment,p.ep-comment,table.ep-comment,
div.ep-comment-footer,p.ep-comment-footer,table.ep-comment-footer,
div.ep-footer,p.ep-footer,table.ep-footer,
img.ep-std,video.ep-std,.ep-message
{
    margin:5px;
    padding:0;
}
.ep-h1{
    font-size:1.45rem;
    margin-top:1.4rem;
}
.ep-h2{
    font-size:1.3rem;
    margin-top:1.2rem;
}
.ep-h3{
    font-size:1.15rem;
    margin-top:1rem;
}
.ep-footer,.ep-comment-footer{
    font-size:0.9rem;
}
button.ep-std{
    clear:none;
    margin:5px;
    padding:0.25rem;
}
table.ep-std,table.ep-h1,table.ep-h2,table.ep-footer{
    max-width:100%;
    border:none;
    box-shadow:none;
}
table.ep-footer{
    clear:both;
}
img.ep-std,video.ep-std,object.ep-std{
    width:480px;
    max-width:100%;
    background:none;
    border: 1px solid #000;
}
iframe.ep-std{
    width:98%;
    height:300px;
    margin:0 0 0 5px;
}
.ep-clear-both{
    clear:both;
}
.ep-message{
    clear:right;
    font-size:1.5rem;
}
.ep-header-wrapper{
    margin:0;
    width:100%;
    background-color:#aaaa;
    border-top:1px solid #aaae;
}
details.ep-comment{
    clear:left;
}
.ep-comment{
    font-size:1.2rem;
    color:#a80;
}
.ep-comment-footer{
    font-weight:bold;
}